body
{
    --FontFamily: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --BorderRadius: 2rem 2rem;
}

.ProfilePicture 
{
    height: 400px;
    width: 200px;
    object-fit:scale-down;
}

.ProfileCard
{
    height: fit-content;
    width: 400px;
    background-color: white;
    border-radius: var(--BorderRadius);
    padding: 1rem 2rem;
    margin: 10px;
}

/* Profile Header */
.ProfileHeader
{
    display: block;
    text-align: center; 
    justify-content: space-between;
    font-weight: bold;
}.ProfileName
{
    font-size: 28pt;
    color: black;
}.ProfilePhrase
{
    font-size: 14pt;
    color: #777;
}

.ProfileDescription
{
    height: fit-content;
    align-content: center;
    padding: 1rem 0rem;
    

    font-size: 10pt;
    font-family: var(--FontFamily);
    text-align: center;
    color: #5a5959;
}

.ProfileContacts a
{
    display: inline-flex;
    padding: 0.5rem 1rem;
}