.ButtonDownloadResume
{
    display: flex;
    justify-content: space-around;
    border-radius: var(--BorderRadius);
    background-color: #d82424;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    
    font-size: 12pt;
    font-weight: bold;
    color: white;

    transition: background-color 0.3s;
}
.ButtonDownloadResume:hover
{
    background-color: #701a1a;
}
